@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
  margin: 0;
  background-image: url(./Assets/try.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(7px);
  overflow-y: hidden;
}

.list-items {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 2px solid rgb(217, 216, 216);
  margin: auto;
  border-radius: 10px;
}

.d-none {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  color: rgb(71, 70, 70);
  background-color: white;
  font-family: 'PT Sans Narrow', sans-serif;
}

.bi-three-dots-vertical {
  padding-right: 10px;
}

.bi-arrow-return-left {
  transform: scale(1.3);
  margin-right: 10px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(217, 216, 216);
  height: 60px;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.chromeless-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(217, 216, 216);
  height: 60px;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.chromeless-input:focus {
  outline: none;
}

#myAddBtn {
  height: 100%;
  background-color: white;
}

.input {
  display: flex;
  align-items: center;
  font-size: medium;
  font-style: oblique;
  font-family: 'Alfa Slab One', cursive;
  padding-left: 15px;
  color: rgb(97, 97, 97);
  border: 1px solid rgb(217, 216, 216);
  height: 60px;
  width: 100%;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

.input p {
  margin-left: 50px;
}

::placeholder {
  font-style: italic;
  font-size: 16px;
}

.bi-arrow-repeat {
  transition: transform 0.7s ease-in-out;
}

.bi-arrow-repeat:hover {
  transform: rotate(360deg);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(223, 222, 222);
  border-top: 1px solid rgb(223, 222, 222);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 30px;
  background-color: white;
}

.items {
  width: 100%;
}

.bi {
  cursor: pointer;
}

.link-button {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 15px;
  font-family: 'Alfa Slab One', cursive;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  color: rgb(41, 35, 35);
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: whitesmoke 2px solid;
  border-radius: 10px;
  width: 60%;
  background-color: cornsilk;
  margin-left: 270px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.footer-p {
  padding-left: 20px;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.li {
  transition: transform 0.7s ease-in-out;
}

.li:hover {
  transform: rotate(360deg);
}

.social-list li a {
  color: black;
}


@media only screen and (max-width: 600px) {
  
}